/* yes */

.banner-layer-1 {
    display: none;
}

.banner-layer-2 {
    top: 0;
    display: none;
}

.banner-layer-3 {
    top: 0;
}

.banner {
    background-color: rgb(53, 53, 154);
}

.banner-left, .banner-right {
    width: 50%;
}

.banner-caption {
    font-size: 16px;
}

.banner-text {
    font-size: 8px;
}

.menubar {
    min-height: auto;
    max-height: 60px;
}

.icon {
    width: 16px;
    height: 16px;
}

.header {
    width: 100%;
    height: auto;
    margin-top: 24px;
}

.header-text {
    font-size: 32px;
}

.page-content-box-row {
    width: 80%;
    height: 200px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
}

.box-row-image {
    max-width: 100px;
}

.box-row-content-header {
    font-size: 24px;
}

.box-row-content-text {
    font-size: 16px;
}