/* Portrait lock on mobile devices */


html {
    -webkit-transform-origin: left top;
       -moz-transform-origin: left top;
         -o-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
}