/* all animations are done here */


@-webkit-keyframes spin {
    from { transform: rotate(0deg); }
    to {transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { transform: rotate(0deg); }
    to {transform: rotate(360deg); }
}

@-o-keyframes spin {
    from { transform: rotate(0deg); }
    to {transform: rotate(360deg); }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}