/* main stylesheet */


* {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    overflow-x: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

.nosizeing, body, .menubar-item {
    margin: 0;
    padding: 0;
}

.flex-centered-horizontal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex-centered-vertical {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex-evenly-horizontal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.flex-evenly-vertical {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.flex-left-horizontal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: flex-start;
}

.flex-right-horizontal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: flex-end;
}

.icon {
    width: 40px;
    height: 40px;
}

#loading-screen {
    background-color: rgb(53, 53, 154);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in;
    z-index: 99;
}

.center-bar {
    width: 25%;
    height: 25vh;
}

.p-container {
    width: 100%;
    height: 100%;
}

/* laptop correction */ 
@media screen and (max-width:1499px) {
    .center-bar {
        min-width: 35%;
        height: 10vh;
    }
    
    .p-container {
        width: 80%;
        height: 100%;
        margin-left: 5vw;
    }
}

.loader {
    width: 10px;
    height: 10px;
    border-radius: 100% 100%;
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-left-color: lightgreen;
    -webkit-animation: spin 1s linear 0s infinite;
       -moz-animation: spin 1s linear 0s infinite;
         -o-animation: spin 1s linear 0s infinite;
            animation: spin 1s linear 0s infinite;
}

.loader-large {
    width: 35px;
    height: 35px;
    border-width: 8px;
}

.logo-text img {
    font-family: 'Black Ops One', cursive;
    font-size: 8vh;
    color: white;
    margin-left: auto;
}

.banner {
    width: 100vw;
    height: 30vh;
    min-height: 200px;
    max-height: 15vw;
    background-color: rgba(0, 0, 0, 0.1);
}

.banner-layer-1 {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.banner-layer-2 {
    position: relative;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 95;
}

.banner-layer-3 {
    position: relative;
    left: 0;
    top: -200%;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 96;
}

.banner-left {
    width: 40%;
    height: 100%;
    background: linear-gradient(to right,rgb(53, 53, 154) 0%, rgb(53, 53, 154) 20%, transparent 20%);
}

.banner-left-alone {
    width: 100%;
}

.banner-left svg {
    position: relative;
    top: 0;
    left: -15vw;
}

.banner-title img {
    font-family: 'Black Ops One', cursive;
    font-size: 5vw;
    color: white;
}

.banner-right {
    width: 60%;
    height: 100%;
    margin-left: auto;
    z-index: 0;
    background: transparent;
}

.banner-img {
    background-image: url("../resources/images/code.png");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(2px);
            filter: blur(2px);
}

.banner-container {
    margin-left: 5vw;
    color: ghostwhite;
}

.banner-caption {
    margin-bottom: 2vh;
    font-size: 2.5vw;
    font-weight: 650;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner-text {
    font-size: 1.2vw;
    font-weight: 550;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page {
    width: 100%;
    height: 120vh;
    background-color: rgb(232, 232, 255);
}

.menubar {
    width: 100%;
    height: 10vh;
    min-height: 80px;
    max-height: 80px;
    background-color: black;
    flex: 1 0 auto;
    margin-bottom: auto;
}

.menubar-item {
    width: 25%;
    height: 100%;
    min-height: 80px;
    border-right: 1px solid lightgrey;
    background-color: white;
}

.menubar-text {
    font-size: 2vw;
    font-family: 'Varela Round', sans-serif;
    margin-left: -5vw;
}

.button {
    cursor: pointer;
}

.button:hover, .button:focus {
    opacity: 0.91;
}

.button:active {
    opacity: 0.85;
}

.page-content {
    width: 100%;
    height: 110vh;
    color: rgb(53, 53, 154);
    background-color: rgb(232, 232, 255);
}

.header {
    width: 100%;
    height: 10vh;
    margin-top: 10vh;
}

.header-text {
    font-size: 7vh;
    font-weight: 650;
    text-decoration: underline;
}

.page-content-box {
    width: 100%;
    height: 85vh;
    margin-top: 5vh;
}

.page-content-box-row {
    width: 60vw;
    margin-left: 4vw;
    margin-right: 4vw;
    height: 25vh;
    border-radius: 4vh;
    background-color: ghostwhite;
}

.box-row-content {
    width: 70%;
    height: 90%;
}

.box-row-content-header {
    font-size: 4vh;
    font-weight: 550;
}

.box-row-content-text {
    width: 80%;
    height: 50%;
    font-size: 3vh;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    user-select: text;
    color: black;
}

.page-content-box-container {
    width: 60%;
    height: 80vh;
}

.page-content-box-container fieldset {
    width: 80%;
    height: 80vh;
    background-color: white;
    border-radius: 3vh;
    border: 4px solid grey;
}

.page-content-box-container legend {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh;
    background-color: ghostwhite;
    color: black;
    font-size: 3vh;
    border: 4px solid grey;
    border-radius: 3vh;
}

fieldset .thin-row {
    width: 85%;
    height: 10vh;
}

.thin-row-left {
    width: 15%;
    height: 100%;
}

.thin-row-right {
    width: 85%;
    height: 100%;
}

.thin-row-text {
    margin-left: auto;
    font-size: 2.5vh;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

a {
    font-size: 2.5vh;
    font-weight: 550;
    color: cornflowerblue;
    text-decoration: underline;
}

a:visited {
    font-style: italic;
    color: orangered;
}

.notice {
    width: 100%;
    height: 8vh;
    background-color: lightgrey;
    border-radius: 2vh;
    background-color: rgb(202, 202, 202);
    color: rgb(107, 107, 107);
    font-size: 3vh;
    padding: 1vh;
}

.notice p {
    text-align: center;
    vertical-align: center;
}

#contextmenu {
    width: 300px;
    height: 70px;
    background-color: rgb(53, 53, 154);
    display: none;
    position: fixed;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.contextmenu-wrapper {
    width: 100%;
    height: 100%;
}

.contextmenu-element {
    width: 100%;
    height: 30px;
}

.contextmenu-element:hover {
    background-color: rgb(0, 162, 255);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.contextmenu-text {
    color: ghostwhite;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    font-weight: inherit;
}
